# Byte-compiled / optimized / DLL files
__pycache__/

# Terraform backup and internal cache
*.tfstate*
*.terraform

# Lambda packages
lambda_*.zip

# Virtualenv
venv/

# Compiled YARA rules
compiled_yara_rules.bin

# IDE
.idea/

# Coverage
.coverage

# Mypy
.mypy_cache/

# MacOS artifacts
Thumbs.db
.DS_Store
*.swp
terminal.glue

# Documentation build
docs/build/

# AWS CDK build artifacts
cdk.out/
.cdk.staging/

# Python virtual environment
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.pyc

# IDE settings
.vscode/
.idea/
.DS_Store